@import 'styles/header';

/*---------------------- Project Section 1 --------------------*/

.project-section-1-container{
    max-width: 1920px;
    width: 100%;
    min-height: 350px;
    display: flex;
   
    .project-text-container{
        max-width: 645px;
        width: 100%;
        min-height: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .a-fresh-title{
            max-width: 500px;
            width: 100%;
            min-height: 130px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Mulish', sans-serif;
            font-size: 40px;
            margin-left: 105px;
            line-height: 55px;
        }
    
        .project-text-1{
            max-width: 550px;
            width: 100%;
            min-height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 150px;
            font-family: 'Mulish', sans-serif;
            font-size: 16px;
            line-height: 26px;
        }
    }

   

    .project-list-container{
        max-width: 550px;
        width: 100%;
        min-height: 340px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .project-list-1{
        width: 100px;
        height: 40px;
        font-family: 'Mulish', sans-serif;
        line-height: auto;
        font-size: 18px;
        
    }

    .project-list-2{
        width: 170px;
        height: 40px;
        font-family: 'Mulish', sans-serif;
        line-height: auto;
        font-size: 18px;
    }
}

/*------------------ End Project Section 1 --------------------*/

.project-section-2-container{
    max-width: 1920px;
    width: 100%;
    min-height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-container{
    max-width: 1920px;
    width: 100%;
    min-height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.girl-walking{
    max-width: 1110px;
    width: 100%;
    min-height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
}













